<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:insert="~{menu :: #nav-menu}"></div>

<h1>All products</h1>

<table border="1">
    <tr>
    <tr><th>Id</th><th>Title</th><th>Price</th></tr>
    <tr  th:each="product : ${products}">

     <td><p th:text="${product.id}"></p></td>
     <td><p th:text="${product.title}"/> </td>
     <td><p th:text="${product.price}"/></td>
    </tr>
</table>


    <form action="#" method="post" th:action="@{/priceFilter}">
        <input id="price_from" name="price_from" type="number">
        <input id="price_to" name="price_to" type="number">
        <button type="submit">Filter</button>
    </form>

<form action="#" method="get" th:action="@{/editProduct}">
    <input name="id" id="id" type="number" placeholder="Enter ID">
    <button type="submit">Update product</button>
</form>

</body>
</html>