<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<div th:insert="~{menu :: #nav-menu}"></div>
<h1>Update</h1>
<div>
    <div>
        <h1>Old data</h1>
        <table border="1">
            <tr>
                <td>Id</td>
                <td th:text="${product.id}">Id</td>
            </tr>
            <tr>
                <td>Title</td>
                <td th:text="${product.title}">Title</td>
            </tr>
            <tr>
                <td>Price</td>
                <td th:text="${product.price}">10.22</td>
            </tr>
        </table>
    </div>
    <div>
        <form action="#" method="post" th:action="@{/productsUpd}">
            <h1>Enter new data</h1>
            <input id="id" name="id" type="number" value="Id" placeholder="Enter ID"><br>
            <input id="prod" name="prod" type="text" value="Title" placeholder="Enter title"><br>
            <input id="price" name="price" type="number" value="Price" placeholder="Enter price">
            <button type="submit">Update product</button>
        </form>
    </div>
</div>
</body>
</html>