<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<form th:action="@{/products/new}" th:object="${product}" method="post">
    <table border="1">
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"/> </td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" th:field="*{price}"/></td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>

</body>
</html>
